.navbar {
    text-align: right;
}

img {
    width: 100px;
    line-height: 60px;
}

a {
    font-size: 22px;
}

li {
    padding-left: 10px;
    padding-right: 10px;
}

.bi-person-fill {
    font-size: 40px;
}